.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    color: white;
  }

  .navbar-links {
    transform: translateY(-2.5rem);
  }
  
  .navbar-links ul {   
    display: flex;      
  }
  
  .navbar-links li {
    list-style: none;   
    line-height: 2rem ;    
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 2rem; 
    cursor: pointer;  
    font-weight: 600;  
  }

  .border-right {
      border-right: 1px solid white;
  }