.priceList {    
    color: white;
    display: flex;  
    padding-bottom: 6rem;  
}

.priceList h1{
    margin: 0;
    padding: 0 1rem 0 0;
}

.priceList p {
    transform: translateY(1.9rem);
}

.container {
    display: flex;
    justify-content: space-around;
}

.container h1, .container h3 {
    margin: 0;
    padding: 0;      
}

.container img {
    transform: translateY(-6rem);
    padding: 1rem 2rem;
}

.leftSide {
    background: white;
    color: black;  
    flex: 0 1 33%;  
    border-radius: 5px;          
}

.titleLeftSide {
    display: flex;
    border-bottom: 1px solid goldenrod;    
}

.rightSide {
    background: white;
    color: black;  
    flex: 0 1 66%; 
    border-radius: 5px;   
}

.titleRightSide {
    display: flex;
    border-bottom: 1px solid goldenrod; 
}