* {
  box-sizing: border-box;  
}

body {
  margin: 0;
  padding: 0;
  background:white;
  font-family: Arial, Helvetica, sans-serif;
}

img { 
  max-width: 100%;
  height: auto;
}

.App {  
  height: 90vh;  
  position: relative;
  overflow: hidden;
  padding: 2rem 5rem;
  background: rgb(47,35,172);
  background: linear-gradient(149deg, rgba(47,35,172,1) 0%, rgba(205,71,158,1) 100%);

}

.App::after {
  content: '';
  position: absolute;
  background: white;
  top: 90%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-top-right-radius: 100% 100%;
  border-top-left-radius: 100% 100%;

}

